<<<<<<< HEAD
.footer {
    gap: 20px;
    display: grid;
    padding: 0 200px;
    grid-template-columns: repeat(1fr, 2fr);
}
=======
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 0 200px;
}
>>>>>>> 014bd9ab03532b627cde7bcb7d759b1cc766ae53
