<<<<<<< HEAD
$dark: black;
$red: linear-gradient(to right, #ff56bb, #ff8f77);
.thmeSwitcher {
    gap: 5px;
    display: flex;
    align-items: center;
    .switcher {
        width: 42xp;
        height: 22px;
        display: flex;
        background: $dark;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        .icon {
            font-style: 1.4em;
        }
        .circle {
            left: 1px;
            width: 20px;
            height: 20px;
            transition: 0.3s;
            position: absolute;
            border-radius: 50%;
            background-color: $red;
        }
        input[type="checkbox"] {
            z-index: 2;
            opacity: 0;
            width: 42px;
            height: 22px;
            position: absolute;
            border-radius: 10px;
            &:checked+.circle {
=======
$dark: #151515;
$red: linear-gradient(to right, #ff56bb, #ff8f77);

.theme-switcher {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
        font-size: 1.4em;
    }

    .switcher {
        position: relative;
        width: 42px;
        height: 22px;
        background-color: $dark;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $red;
            position: absolute;
            left: 1px;
            transition: 0.3s;
            z-index: 1;
        }

        input[type="checkbox"] {
            width: 42px;
            height: 22px;
            border-radius: 10px;
            position: absolute;
            opacity: 0;
            z-index: 2;

            &:checked + .circle {
>>>>>>> 014bd9ab03532b627cde7bcb7d759b1cc766ae53
                left: 21px;
            }
        }
    }
}

.dark {
<<<<<<< HEAD
    color: white;
    background: black;
    display: inline-block;
}

.light {
    color: $dark;
    background: white;
    display: inline-block;
=======
    background-color: gray;
    color: white;
}
.light {
    background-color: white;
    color: $dark;
>>>>>>> 014bd9ab03532b627cde7bcb7d759b1cc766ae53
}

.container {
    button {
        color: black;
        transition: 0.3s;
        &:active {
            transform: scale(0.6);
        }
    }
    span {
        padding: 10px;
<<<<<<< HEAD
        margin: 0 10px;
        background: #333;
    }
}
=======
        background-color: #333;
        color: snow;
        margin: 0 10px;
        border-radius: 50%;
    }
}
>>>>>>> 014bd9ab03532b627cde7bcb7d759b1cc766ae53
